.invalid-feedback {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  color: #dc3545;
}

.alert {
  margin-bottom: 15px;
}

.btn-custom.primary {
  background-color: #FF7F47;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-custom.primary:hover {
  background-color: #e56a35;
}

.btn-custom.primary:disabled {
  background-color: #fab192;
  cursor: not-allowed;
}
